.main-button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    width: 134px;
    color: #FFF !important;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 35px;
    border: 1px solid #ffffff57;
    border-radius: 3px;
    @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
}

.blog-button {
    display: inline-block;
    background-color: #FFF;
    color: $textColor;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
    padding: 0 45px;
    text-decoration: none !important;
    @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
    &:hover {
        background-color: $mainColor !important;
        color: #FFF;
    }
}