/* Start Contact Page */

.contact-area {
    padding: $mainPadding 0;
    #mapBox {
       min-height: 450px;
       width: 100%;
       margin-bottom: 80px;
    }

    .contact-info {
        .info-item {
            position: relative;
            padding-left: 45px;
            i {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 20px;
                line-height: 24px;
                color: $mainColor;
                font-weight: 600;
            }
            h6 {
                font-size: 16px;
                line-height: 24px;
                color: "Roboto", sans-serif;
                font-weight: bold;
                margin-bottom: 0px;
                color: $textColor;
            }
            p {
                padding: 2px 0px;
                color: $pColor;
                font-size: 14px;
                line-height: 24px;
            }

            a {
                color: $textColor;
                text-decoration: none;
            }
        }
    }

    .contact-form {
        .form-group {
            margin-bottom: 10px;
            textarea,
                input {
                font-size: 13px;
                line-height: 26px;
                color: #999;
                border: 1px solid #eeeeee;
                font-family: $rob;
                border-radius: 0px;
                padding-left: 20px;
            }
            textarea {
                height: 140px;
            }
        }
        button {
            font-size: 14px;
            font-weight: 500;
            padding: 13px 30px;
            color: #FFF;
            background-image: linear-gradient(to right, #4dabff 0%, #62ddff 48%, #4dabff 100%);
            background-size: 200% auto;
            border: none;
            border-radius: 5px;
            @include prefixer(transition, all 0.5s linear, webkit moz o);
            &:hover {
                        background-position: right center;
            }
        }
    }
}


/* End Contact Page */